.mychart{
   position: relative;
   width:600px;
   height:400px;
}

.space {
   padding-top: 20px;
}

.plot-title {
   position: relative;
   left: 55px;
}

li {
   font-size: 20px;
   position: relative;
   left: 20px;
}

li a:visited {
   color: white;
}

li a:link {
   color: white;
}

h2 {
   font-size: 40px;
   color: white;
}


body { 
  background: url(assets/bg2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#repoList {
   position: relative;
   top: 40px;
   left: 50px;
   font-size: 30px;
   color: white;
   width: 80%;
}

.sb-page-header {
   margin-bottom: 40px;
   padding: 50px 15px;
   position: relative;
   background: none;
   width: 100%;
}

